In [1]:
import pandas as pd

df = pd.read_csv('../data/DM2425_ABCDEats_DATASET.csv')

df.head()

/var/folders/dq/lm4hsw5542x634hwm_gj_4bm0000gn/T/ipykernel_38333/496928437.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/DM2425_ABCDEats_DATASET.csv')

,customer_id,customer_region,customer_age,vendor_count,product_count,is_chain,first_order,last_order,last_promo,payment_method,...,HR_14,HR_15,HR_16,HR_17,HR_18,HR_19,HR_20,HR_21,HR_22,HR_23
0,1b8f824d5e,2360,18,2,5,1,0,1,DELIVERY,DIGI,...,0,0,0,0,2,0,0,0,0,0
1,5d272b9dcb,8670,17,2,2,2,0,1,DISCOUNT,DIGI,...,0,0,0,0,0,0,0,0,0,0
2,f6d1b2ba63,4660,38,1,2,2,0,1,DISCOUNT,CASH,...,0,0,0,0,0,0,0,0,0,0
3,180c632ed8,4660,,2,3,1,0,2,DELIVERY,DIGI,...,1,0,0,0,0,0,0,0,0,0
4,4eb37a6705,4660,20,2,5,0,0,2,-,DIGI,...,0,0,0,0,0,0,0,0,0,0